<main>
  <section class="userInfoContainer" id="userForm">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="display-6 text-center mb-5">Sign in</h2>
            <form action="/login" method="post">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" name="emailUser" id="floatingInputEmail1" placeholder="Email" required />
                <label for="floatingInputEmail1">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="passwordUser" id="floatingInputPassword2" placeholder="Password" required />
                <label for="floatingInputPassword2">Password</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-lg" id="btnFormUser">Send</button>
              </div>
            </form>
            <a href="/signup" class="mt-2 text-decoration-none fs-4 d-flex justify-content-end">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>